.card {
  width: 150px;
  text-align: center;
  margin: 20px;
  border: none;
  opacity: 0.9;
  border-radius: 80px;
}
.icon-container {
  background-color: black;
  opacity: 0.95;
  color: rgb(236, 213, 4, 1.9);
  padding: 10px;
  padding-top: 18px;
  border-radius: 80px;
  /* For Hover Effect */
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
.icon-container:hover {
  background-color: rgb(18, 16, 112);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/* TODO: reduce size of icons on mobile */
@media screen and (max-width: 600px) {
  .display-1{
    size:20%
  }
}